// SCSS Variables
$heightWrapper: 293px;
$height-notice: 461px;

// 1er bloc
.homePageTopContainer {
    background-color: var(--principales-vert);
}
.homePageTopWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
    padding: 0 2rem;
    .titles {
        display: flex;
        flex-direction: column;
        align-self: center;
        color: #ffffff;
    }
    .topImage {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: contain;
        max-width: 450px;
    }
}

@media screen and (max-width: 1015px) {
    .homePageTopWrapper {
        .topImage {
            display: none;
        }
    }
}

@media screen and (max-width: 520px) {
    .homePageTopWrapper {
        padding: 1.5rem;
    }
}

// Communauté bloc
.communauteContainer {
    background-color: #ffffff;
}

.communauteWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 0rem;
    gap: 3.5rem;
    .communauteText {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 1015px) {
    .communauteWrapper {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .communauteText {
        max-width: 80%;
    }
}

// Diagnostic bloc
.diagnosticContainer {
    background-color: var(--principales-vert);
    padding: 1.5rem 0rem;
}

.diagnosticWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--principales-vert);
    .diagnosticText {
        padding: 2rem;
    }
}

@media screen and (max-width: 1015px) {
    .diagnosticWrapper {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0 2rem;
    }
    .diagnosticText {
        padding: 0;
    }
}

// Cookies

.cookieModalConsentContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0 0;
    border-top: 1px solid #000091;
    z-index: 1500;
}

.cookieModalConsentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        padding: 0 0 1rem;
    }
}

.cookieConsentWrapper {
    position: fixed;
    bottom: 2rem;
    width: 50%;
    margin: 0 25%;
    padding: 1rem;
    text-align: center;
    box-shadow: '0px 4px 12px 0px #0063CB29';
    background-color: #fff; //#f9f9ff;
    border-radius: 0.5em;
    border: solid 1px var(--principales-vert);
    z-index: 1000;
    .acceptCookieBtn {
        color: var(--principales-vert);
        border-radius: 4px;
        border: 1px solid var(--principales-vert);
        padding: 0.5em 1em;
        font-weight: 500;
        font-family: 'Marianne';
        font-size: 1rem;
        min-height: 48px;
        margin: 0 0 0 1em;
    }
    .modifyCookieBtn {
        color: #3e5165;
        border-radius: 4px;
        border: 1px solid #3e5165;
        padding: 0.5em 1em;
        font-weight: 500;
        font-family: 'Marianne';
        font-size: 1rem;
        height: 48px;
        margin: 0 0 0 1em;
    }
    .declineCookieBtn {
        color: #3e5165;
        border-radius: 4px;
        border: 1px solid #3e5165;
        padding: 0.5em 1em;
        font-weight: 500;
        font-family: 'Marianne';
        font-size: 1rem;
        min-height: 48px;
        margin: 0 0 0 1em;
    }
}
