// Dataviz

.responsivePieContainer {
    width: 100%;
    height: 0;
    position: relative;
    background-color: white;
    border-radius: 1rem 0 1rem 0;
    overflow: visible;
    padding-bottom: 60%;

    /* le SVG interne produit par nivo sera positionné absolument pour remplir le conteneur */
    & > :global(svg),
    & > :global(div) {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

// Tooltip

.tooltipEvolutionWrapper {
    width: max-content;
    font-family: 'Marianne';
    background-color: #ffffff;
    border-radius: 6px;
    padding: 1rem;
    position: relative;
    right: 8rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 18, 0.16);
    .itemWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        .titre {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            .colorSquare {
                height: 1rem;
                width: 1rem;
                border-radius: 2px;
                align-self: center;
            }
        }
        .value {
            p {
                font-weight: 700;
            }
        }
    }
}

.graphTooltipWrapper {
    background-color: #ffffff;
    color: black;
    max-width: 600px;
    width: fit-content;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 18, 0.16);
    padding: 0.5rem 0.75rem;
    font-family: 'Marianne';
    font-size: 0.875rem;
    border-radius: 6px;
    line-height: 1.25rem;
    font-weight: 400;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

// Accordion
.accordion {
    margin-bottom: 2.5rem;
    h2 {
        margin: 0 0 1.5rem;
        font-weight: 700;
        line-height: 24px;
        font-size: 18px;
        color: #000091;
    }
    p {
        margin: 0;
        font-size: 14px;
    }
    .accordionHeader {
        width: 100%;
        padding: 1rem 0;
        .accordionHeaderTitles {
            max-width: 90%;
            padding: 0 0 1rem;
        }
        .wrapper {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

// Prograss Bar

.progressDataWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progressDataWrapperSurfacesAgricoles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem 0 0.75rem;
}

.progressDesign {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    width: 100%;
    align-items: center;
}

.progressBar {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: 100%;
    p {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Marianne';
        line-height: 14px;
    }
    .barMarker {
        width: 100%;
        .marker {
            position: absolute;
            height: 18px;
            width: 2px;
            background-color: #161616;
            border-radius: 25px;
            // transform: translateY(-1.1rem);
        }
    }
}

.progressNumbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1px;
    text-align: end;
    width: 80px;
    padding-bottom: 3px;
    p {
        margin: 0;
        font-family: 'Marianne';
        font-size: 0.75rem;
        line-height: 15px;
    }
}

.tooltip {
    max-width: 350px;
    h3 {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 20px;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
    }
    :after {
        content: '';
        position: absolute;
        top: 90%;
        left: 50%;
        border-width: 8px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }
}

// Micro Dataviz

.microPieChartWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.875rem;
}

.microChartText {
    position: absolute;
    text-align: center;
}

.microNumberCircleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.875rem;
}

.cercleIndividuel {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 1px;
}

.microCircleGridWrapper {
    display: flex;
    flex-direction: column;
    width: 110px;
    position: relative;
    margin-bottom: 1rem;
}

.circleGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 3px;
    column-gap: 3px;
    margin-top: 4px;
    justify-items: center;
    align-items: center;
}

.microCubeWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}
