.introOuter {
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 12px,
        var(--boutons-primaire-2) 12px,
        var(--boutons-primaire-2) 14px
    );
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 364px;
        height: 364px;
        border-radius: 50%;
        background-color: white;
        top: 15%;
        left: 10%;
        // transform: translate(-50%, -50%);
        z-index: 0;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    @media screen and (max-width: 1280px) {
        padding: 0 1.5rem;
    }
}
