.surfacesAgricolesWrapper {
    padding: 0rem;
}

// onglets de navigation en dataviz + filtres

.graphTabsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.25rem;
    gap: 0.5rem;
    border-bottom: 1px solid var(--gris-medium);
    width: 100%;
}

.sliderWrapper {
    display: flex;
    padding: 1.25rem 2.25rem;
    width: 100%;
    border-bottom: 1px solid var(--gris-medium);
}

.warningBox {
    min-width: 450px;
    background-color: white;
    padding: 1em;

    @media (max-width: 600px) {
        min-width: unset;
    }
}
