/* ===== CriterionView ===== */
.criterionBannerOuter {
    position: relative;
    z-index: 0;
    overflow: hidden;
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 12px,
        rgba(211, 237, 235, 0.5) 12px,
        rgba(211, 237, 235, 0.5) 14px
    );
    &::before {
        content: '';
        position: absolute;
        width: 364px;
        height: 364px;
        border-radius: 50%;
        background-color: var(--boutons-primaire-2);
        top: 110%;
        left: 80%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    &::after {
        content: '';
        position: absolute;
        width: 364px;
        height: 364px;
        border-radius: 50%;
        background-color: white;
        top: -30%;
        left: 10%;
        z-index: 0;
    }
}

.criterionViewBody {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 792px;

    @media screen and (max-width: 1280px) {
        padding: 0 1.5rem;
    }
}

.criterionViewBackLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: center;
    text-decoration: none;
    background-image: none;
}

.breadcrumbWrapper {
    :global(.fr-breadcrumb) {
        margin: 1rem 0;
    }
}
