// Search bar
.searchCompWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.searchbarWrapper {
    display: flex;
    width: 100%;
    height: 3rem;
    gap: 0.5rem;
    align-items: flex-end;
}

.searchbarWrapperSansFiltre {
    display: flex;
    // width: 100%;
    height: 3rem;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.activeSearchbarButton {
    display: block;
    background-color: #0063cb;
    color: white;
    border-radius: 60px;
    border: 1px solid #0063cb;
}

.inactiveSearchbarButton {
    display: block;
    border-radius: 60px;
    border: 1px solid #e5e5e5;
}
